/* Global */
:root {
  --dark_color_theme: #7899DC;
  --light_color_theme: #F7FBFC;
  --standard_text: #666C78;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Karla', sans-serif;
  color: var(--standard_text);
  text-align: left;
}

.title_color {
  color: var(--standard_text) !important;
  font-weight: normal !important;
}

h1 {
  font-weight: bold;
  color: var(--dark_color_theme);
  font-size: 3rem;
  margin-bottom: 40px;
}


h2 {
  line-height: 1.7;
  font-size: 2rem;
  color: var(--dark_color_theme);
  font-weight: bold;
}

h3 {
  line-height: 1.5;
  font-size: 1.5rem;
}

p {
  line-height: 2;
  font-size: 1.1rem;
  text-align: justify;
}

.container-fluid {
  padding: 5% 14%;
}

.section_heading {
  margin-bottom: 50px;
}



/* navigation // top section */
.navbar {
  padding: 2% 14% 2%;
}

.navbar-brand{
    font-size: 2rem;
    font-weight: bold;
}

.navbar-toggler {
  position: relative;
  top: 25px;
  left: 95%;
}

.nav-item {
  margin: 0 0 0 10px;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus,
 input:focus, input:active,
 textarea:focus, textarea:active {
    outline: none;
    box-shadow: none;
}

.presentation {
  position: relative;
}

.avatar {
  position: absolute;
  border-radius: 50%;
  width: 22%;
  right: 1%;
  top:12%;
}

.redirect_button, .redirect_button_b {
  margin: 10% 3% 3% 0;
}

.redirect_button {
  background-color: var(--dark_color_theme);
  color: #fff;
}

.redirect_button:hover {
  background-color: var(--standard_text);
  color: #fff;
}

.redirect_button_b {
  color: var(--standard_text);
  background-color: var(--light_color_theme);
}

.redirect_button_b:hover {
  color: var(--dark_color_theme);
}

.scroll_down {
  position: absolute;
  right: 50%;
  padding-top: 3%;
  text-align: center;
  color: var(--dark_color_theme);
}

.scroll_down a {
  text-decoration: none;
  color: inherit;
}

.scroll_down i {
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-name: scroll_d;
}

.scroll_down i:hover {
  color: var(--standard_text);
}

@keyframes scroll_d {
  0% {
    transform: translateY(0px)
  }
  50% {
    transform: translateY(-3px)
  }
  100% {
    transform: translateY(0px)
  }
}



/* about */





/* Tehno */
.tech_images {
  padding: 0 0 2% 0;
  text-align: center;
}

.tech_images p {
  text-align: center;
  margin-bottom: 0;
}


.tech_images img {
  width: 20%;
  margin-bottom: 10px;
}

.tech_images:hover {
  transition: 0.3s;
  transform: translateY(-5%);
}



/* projects */
.project_item {
  padding: 0px 30px 40px 30px;
}

.card {
    /* border: none; */
    text-align: center;
    border: 1px solid rgb(120 153 220 / 5%);
    border-radius: 1rem;
    padding:5%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.tag_icon_div{
    padding: 2%;
    font-size: 10px;
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #e8ffbf;
    border-radius: 5px;
    color: var(--standard_text);
}

.tag_icon{
  position: absolute;
  top: 5px;
  right: 5px;
  /* color: #fabf01; */
  color: #c3e687;
}

.tech_icons_tech {
  padding: 1% 4%;
}

.tech_icons_tech img {
  width: 17%;
  padding: 0 2%;
}

.tech_icons {
  padding: 2% 4%;
}

.tech_icons img {
  width: 15%;
  padding: 0 2%;
}

.card-img-top:hover{
  transition: 1s;
  transform: scale(1.1);
}

.card-body {
  margin-top: 10px;
}

.card-title {
  padding-top: 5%;
}

.card-body a, .card-title {
  color: var(--dark_color_theme);
  text-decoration: none;
}

.card-body p {
  line-height: 1.6;
  text-align: center;
}

.card-body a:hover, .card-title:hover {
  color: var(--standard_text);
}

.github_portf {
  margin-top: 2%;
}

.github_portf p {
  margin-bottom: 0;
  text-align: center;
}


.github_portf i {
    margin-top: 5px;
    color: black;
}

.github_portf i:hover {
    color: var(--standard_text);
}




/* contact */
#contact {
  background-color: var(--light_color_theme);
}



input, textarea {
    width: 100%;
    margin: 10px 0 10px 10px;
    padding:10px 0 10px 10px;
    border: 1px solid var(--dark_color_theme);
    border-radius: 5px;
}

.submit_button input {
  width: 200px;
  margin:0 auto;
  padding:10px 0;
  border: none;
  background-color: var(--dark_color_theme);
  color: #fff;
  margin-left: 10px;
}

.submit_button input:hover{
  background-color: var(--standard_text);
}

.icon_contact {
  margin: 0 20px 20px 0px;
  color: var(--dark_color_theme);
}

.icon_contact:hover {
  color: var(--standard_text);
}


/* Footer */
#footer {
  padding: 1%;
  margin:0;
  background-color: var(--dark_color_theme);
}

.footer_text {
  font-size: 12px;
  color: #fff;
}

#footer p {
  text-align: center;
}


/* Media query */
@media (max-width: 1500px) {
  .avatar{
    width: 22%;
    right: 2%;
    top:21%;
  }
}


@media (max-width: 1300px) {
  .avatar{
    width: 26%;
    right: 3%;
    top:23%;
  }
}


@media (max-width: 991px) {
  body {
    text-align: center;
  }

  .navbar {
    margin-bottom: 75px;
  }

  .navbar-nav {
      margin:0 auto;
      display: block;
  }

  .avatar{
    position: static;
    width: 35%;
    margin: 0 auto;
    padding-top: 40px;
    margin-bottom: 20px;
  }

  .scroll_down {
    right: 49%;
    padding-top: 5%;
  }

  #about{
    margin-top: 20px;
  }

  input, textarea {
      margin: 10px 0 10px 0px;
    }

  .submit_button input {
    margin-left: 0px;
  }
}


@media (max-width: 610px) {
  .scroll_down {
    right: 48.5%;
    padding-top: 6%;
  }
  .avatar{
    margin-top: 0px;
    width: 50%;
    margin-bottom: 20px;
  }
}

@media (max-width: 450px) {
  .scroll_down {
    right: 48%;
    padding-top: 7%;
  }

  #about{
    margin-top: 40px;
  }
}


/* images
1698 × 856
https://viewportsizer.com/what-is-my-screen-size/
https://whatismyviewport.com/
MAC: 1676 × 861
 */
