{% extends "base.html" %}

{% block title %}Thibaud Bonnard{% endblock %}

{% block content %}

    <section id='top'>

<!-- navigation -->

        <nav class="navbar navbar-expand-lg navbar-light">
          <!-- <a class="navbar-brand title_color" href="">T.B.</a> -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" href="#techno">Technologies</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#projets">Projets</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
              </li>
                <!-- <li class="nav-item">
                <a class="nav-link" href="https://www.figma.com/file/5aKU6DKRQ8atbKM3d2EyMf/CV-Thibaud-Bonnard?node-id=0%3A1" target="_blank">CV</a>
              </li> -->
            </ul>
          </div>
        </nav>

<!-- row -->

      <div class="container-fluid ">
        <div class="row presentation">
            <div class="col-lg-6">
                <h1>Bonjour !</h1>
                <h3>juste un mini portfolio pour montrer quelques exemples de projets totalement personnels</h3>
                <div>
                  <img class='avatar' src="{{ url_for('static', filename='img/avatar.svg')}}" alt="Thibaud Bonnard">
                </div>
                <a href="#projets" type="button" class="btn btn-md redirect_button">Voir les projets</a>
                <a href="#contact" type="button" class="btn btn-light btn-md redirect_button_b">Me contacter</a>
            </div>
            <!-- <div class="col-lg-6">
            </div> -->
        </div>

        <div class="scroll_down">
          <a href="#about"><i class="fas fa-angle-down fa-2x"></i></a>
        </div>

      </div>
  </section>



<!-- about me -->


<section id='about'>
  <div class="container-fluid">
    <h2 class="section_heading">À propos de moi</h2>

    <p>Aspire à devenir dev (junior actuellement)</p>
  </div>
</section>



</section>
<!-- toolkit -->
  <section id='techno'>
    <div class="container-fluid">
        <h2 class="section_heading">Technologies</h2>

    <div class="row presentation">

        <div class="col-md-4 col-6 tech_images">
          <img src="{{ url_for('static', filename='img/python.png')}}" alt="Python" title="Python"/>
          <p>Python</p>
          <div class="tech_icons_tech">
            <img src="{{ url_for('static', filename='img/django.svg')}}" alt="Django" title="Django"/>
            <img src="{{ url_for('static', filename='img/flask.svg')}}" alt="Flask" title="Flask"/>
          </div>
        </div>
        <div class="col-md-4 col-6 tech_images">
          <img src="{{ url_for('static', filename='img/javascript.png')}}" alt="JavaScript" title="JavaScript"/>
          <p>JavaScript</p>
          <div class="tech_icons_tech">
            <img src="{{ url_for('static', filename='img/reactjs.png')}}" alt="ReactJS" title="ReactJS"/>
            <img src="{{ url_for('static', filename='img/redux.jpg')}}" alt="Redux" title="Redux"/>
            <img src="{{ url_for('static', filename='img/nodeexpressjs.svg')}}" alt="Node.js" title="Node.js"/>
          </div>
        </div>
        <div class="col-md-4 col-6 tech_images">
          <img src="{{ url_for('static', filename='img/git.png')}}" alt="Git" title="Git"/>
          <p>Git / GitHub</p>
        </div>
        <div class="col-md-4 col-6 tech_images">
          <img src="{{ url_for('static', filename='img/html5.png')}}" alt="HTML5" title="HTML5"/>
          <p>HTML5</p>
        </div>
        <div class="col-md-4 col-6 tech_images">
          <img src="{{ url_for('static', filename='img/css3.png')}}" alt="CSS3" title="CSS3"/>
          <p>CSS3</p>
        </div>
        <div class="col-md-4 col-6 tech_images">
          <img src="{{ url_for('static', filename='img/database.png')}}" alt="SQL" title="SQL"/>
          <p>Relationelle / Document</p>
        </div>
    </div>

    </div>
  </section>




  <!-- projects -->
    <section id='projets'>
      <div class="container-fluid">

          <h2 class="section_heading">Quelques projets personnels</h2>

        <div class="row">



          <div class="col-lg-4 col-md-6 project_item">
            <div class="card">
              <a class="card-title" href="https://projapp.onrender.com/" target="_blank">
             <h3>Notes / To Dos</h3></a>
                <a href="https://projapp.onrender.com/" target="_blank">
                <img src="" class="card-img-top" alt="A venir"></a>
              <div class="card-body">
                  <p class="card-text">Application pour les consultants/freelances pour les aider dans leur day to day</p>
              </div>
                <div class="tech_icons">
                  <img src="{{ url_for('static', filename='img/reactjs.png')}}" alt="ReactJS" title="ReactJS"/>
                  <img src="{{ url_for('static', filename='img/redux.jpg')}}" alt="Redux" title="Redux"/>
                  <img src="{{ url_for('static', filename='img/nodeexpressjs.svg')}}" alt="Node.js" title="Node.js"/>
                </div>
                <div class="github_portf">
                  <p>voir le code source</p>
                  <a href="https://github.com/tbonnard/projapp_deploy" target="_blank"><i class="fab fa-github"></i></a>
                </div>
              </div>
          </div>



          <div class="col-lg-4 col-md-6 project_item">
            <div class="card">
              <a class="card-title" href="https://damp-beach-18888.herokuapp.com/" target="_blank">
             <h3>Gif Fame</h3></a>
                <a href="https://damp-beach-18888.herokuapp.com/" target="_blank">
                <img src="{{ url_for('static', filename='img/gif.png')}}" class="card-img-top" alt="gif"></a>
              <div class="card-body">
                  <p class="card-text">Application permettant de voter pour les meilleurs gifs et de se créer un "hall of fame" de gif</p>
              </div>
                <div class="tech_icons">
                  <img src="{{ url_for('static', filename='img/reactjs.png')}}" alt="ReactJS" title="ReactJS"/>
                  <img src="{{ url_for('static', filename='img/redux.jpg')}}" alt="Redux" title="Redux"/>
                  <img src="{{ url_for('static', filename='img/nodeexpressjs.svg')}}" alt="Node.js" title="Node.js"/>
                </div>
                <div class="github_portf">
                  <p>voir le code source</p>
                  <a href="https://github.com/tbonnard/gif_vote" target="_blank"><i class="fab fa-github"></i></a>
                </div>
              </div>
          </div>


            <div class="col-lg-4 col-md-6 project_item">
            <div class="card">
<!--                <i class="fas fa-2x fa-award tag_icon" title="Le plus complet"></i>-->
                <div class="tag_icon_div">le plus complet</div>
              <a class="card-title" href="https://association-benevoles.herokuapp.com/" target="_blank">
             <h3>Bénévolat</h3></a>
                <a href="https://association-benevoles.herokuapp.com/" target="_blank">
                <img src="{{ url_for('static', filename='img/association.png')}}" class="card-img-top" alt="e-com"></a>
              <div class="card-body">
                  <p class="card-text">Gestion des bénévoles, de leurs présences et des communications d'une association</p>
              </div>
                <div class="tech_icons">
                  <img src="{{ url_for('static', filename='img/python.png')}}" alt="Python" title="Python"/>
                    <img src="{{ url_for('static', filename='img/django.svg')}}" alt="Django" title="Django"/>
                  <img src="{{ url_for('static', filename='img/javascript.png') }}" alt="JavaScript" title="JavaScript"/>
                  <img src="{{ url_for('static', filename='img/html5.png')}}" alt="HTML5" title="HTML5"/>
                  <img src="{{ url_for('static', filename='img/css3.png')}}" alt="CSS3" title="CSS3"/>
                </div>
                <div class="github_portf">
                  <p>voir le code source</p>
                  <a href="https://github.com/tbonnard/espacerestos" target="_blank"><i class="fab fa-github"></i></a>
                </div>
              </div>
          </div>


          <div class="col-lg-4 col-md-6 project_item">
            <div class="card">
              <a class="card-title" href="https://ecom-platform.herokuapp.com/" target="_blank">
             <h3>Site e-commerce</h3></a>
                <a href="https://ecom-platform.herokuapp.com/" target="_blank">
                <img src="{{ url_for('static', filename='img/ecom.png')}}" class="card-img-top" alt="e-com"></a>
              <div class="card-body">
                  <p class="card-text">Site e-com listant les produits de sa plateforme Admin et intégrer à StripeAPI pour le paiement</p>
              </div>
                <div class="tech_icons">
                  <img src="{{ url_for('static', filename='img/python.png')}}" alt="Python" title="Python"/>
                  <img src="{{ url_for('static', filename='img/flask.svg')}}" alt="Flask" title="Flask"/>
                  <img src="{{ url_for('static', filename='img/javascript.png') }}" alt="JavaScript" title="JavaScript"/>
                  <img src="{{ url_for('static', filename='img/html5.png')}}" alt="HTML5" title="HTML5"/>
                  <img src="{{ url_for('static', filename='img/css3.png')}}" alt="CSS3" title="CSS3"/>
                </div>
                <div class="github_portf">
                  <p>voir le code source</p>
                  <a href="https://github.com/tbonnard/ecom_and_admin_inventory" target="_blank"><i class="fab fa-github"></i></a>
                </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 project_item">
            <div class="card">
              <a class="card-title" href="https://ecom-platform.herokuapp.com/admin" target="_blank">
             <h3 >Gestion d'inventaire</h3></a>
                <a href="https://ecom-platform.herokuapp.com/admin" target="_blank">
                <img src="{{ url_for('static', filename='img/admin_inventory.png')}}" class="card-img-top" alt="admin inventory"></a>
              <div class="card-body">
                  <p class="card-text">Plateforme Admin du site e-com permettant de gérer les produits, les achats et les transactions</p>
              </div>
                <div class="tech_icons">
                  <img src="{{ url_for('static', filename='img/python.png')}}" alt="Python" title="Python"/>
                  <img src="{{ url_for('static', filename='img/flask.svg')}}" alt="Flask" title="Flask"/>
                  <img src="{{ url_for('static', filename='img/javascript.png') }}" alt="JavaScript" title="JavaScript"/>
                  <img src="{{ url_for('static', filename='img/html5.png')}}" alt="HTML5" title="HTML5"/>
                  <img src="{{ url_for('static', filename='img/css3.png')}}" alt="CSS3" title="CSS3"/>
                </div>
                <div class="github_portf">
                  <p>voir le code source</p>
                  <a href="https://github.com/tbonnard/ecom_and_admin_inventory" target="_blank"><i class="fab fa-github"></i></a>
                </div>
              </div>
          </div>


          <!-- <div class="col-lg-4 col-md-6 project_item">
            <div class="card">
              <a class="card-title" href="https://finapps.pythonanywhere.com/" target="_blank">
              <h3>FinApp</h3></a>
                <a href="https://finapps.pythonanywhere.com/" target="_blank">
                <img src="{{ url_for('static', filename='img/finapps.png')}}" class="card-img-top" alt="finapps"></a>
              <div class="card-body">
                  <p class="card-text">Site permettant d'acheter / vendre les actions aux prix réels et de suivre son portefeuille</p>
              </div>
                <div class="tech_icons">
                    <img src="{{ url_for('static', filename='img/python.png') }}" alt="Python" title="Python"/>
                    <img src="{{ url_for('static', filename='img/django.svg')}}" alt="Django" title="Django"/>
                    <img src="{{ url_for('static', filename='img/javascript.png') }}" alt="JavaScript" title="JavaScript"/>
                    <img src="{{ url_for('static', filename='img/html5.png')}}" alt="HTML5" title="HTML5"/>
                    <img src="{{ url_for('static', filename='img/css3.png')}}" alt="CSS3" title="CSS3"/>
                </div>
                <div class="github_portf">
                  <p>voir le code source</p>
                  <a href="https://github.com/tbonnard/finance_app" target="_blank"><i class="fab fa-github"></i></a>
                </div>
            </div>
          </div> -->

<!-- 
          <div class="col-lg-4 col-md-6 project_item">
            <div class="card">
              <a class="card-title" href="https://amztrackerprice.herokuapp.com/" target="_blank">
             <h3>Tracker de prix</h3></a>
                <a href="https://amztrackerprice.herokuapp.com/" target="_blank">
                <img src="{{ url_for('static', filename='img/tracker.png')}}" class="card-img-top" alt="tracker"></a>
              <div class="card-body">
                  <p class="card-text">Ajouter un produit que vous souhaitez suivre et recevoir une alerte lors de la baisse du prix</p>
              </div>
                <div class="tech_icons">
                  <img src="{{ url_for('static', filename='img/python.png')}}" alt="Python" title="Python"/>
                  <img src="{{ url_for('static', filename='img/flask.svg')}}" alt="Flask" title="Flask"/>
                  <img src="{{ url_for('static', filename='img/html5.png')}}" alt="HTML5" title="HTML5"/>
                  <img src="{{ url_for('static', filename='img/css3.png')}}" alt="CSS3" title="CSS3"/>
                </div>
                <div class="github_portf">
                  <p>voir le code source</p>
                  <a href="https://github.com/tbonnard/amazon_tracker_price" target="_blank"><i class="fab fa-github"></i></a>
                </div>
              </div>
          </div> -->


            <!-- <div class="col-lg-4 col-md-6 project_item">
              <div class="card">
                <a class="card-title" href="https://tbonnard.github.io/todo/" target="_blank">
                <h3>To Do app</h3></a>
                  <a href="https://tbonnard.github.io/todo/" target="_blank">
                  <img src="{{ url_for('static', filename='img/todo.png')}}" class="card-img-top" alt="todo"></a>
                <div class="card-body">
                    <p class="card-text">Créer en local des To Do par projets et les gérer en fonction de leur échéance / priorité</p>
                </div>
                  <div class="tech_icons">
                      <img src="{{ url_for('static', filename='img/javascript.png') }}" alt="JavaScript" title="JavaScript"/>
                      <img src="{{ url_for('static', filename='img/html5.png')}}" alt="HTML5" title="HTML5"/>
                      <img src="{{ url_for('static', filename='img/css3.png')}}" alt="CSS3" title="CSS3"/>
                  </div>
                  <div class="github_portf">
                    <p>voir le code source</p>
                    <a href="https://github.com/tbonnard/todo" target="_blank"><i class="fab fa-github"></i></a>
                  </div>
              </div>
            </div> -->


            <div class="col-lg-4 col-md-6 project_item">
              <div class="card">
                <a class="card-title" href="https://github.com/tbonnard/password_manager" target="_blank">
                  <h3>Gestion de mots de passe</h3></a>
                  <a href="https://github.com/tbonnard/password_manager" target="_blank">
                  <img src="{{ url_for('static', filename='img/pwd.png')}}" class="card-img-top" alt="password"></a>
                <div class="card-body">
                    <p class="card-text">Créer, générer et sauvegarder des mots de passes par site en local encryptés</p>
                </div>
                  <div class="tech_icons">
                    <img src="{{ url_for('static', filename='img/python.png') }}" alt="Python" title="Python"/>
                  </div>
                  <div class="github_portf">
                    <p>voir le code source</p>
                    <a href="https://github.com/tbonnard/password_manager" target="_blank"><i class="fab fa-github"></i></a>
                  </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 project_item">
              <div class="card">
                <a class="card-title" href="https://blog-thib.herokuapp.com" target="_blank">
               <h3>Blog</h3></a>
                  <a href="https://blog-thib.herokuapp.com" target="_blank">
                  <img src="{{ url_for('static', filename='img/blog.png')}}" class="card-img-top" alt="blog"></a>
                <div class="card-body">
                    <p class="card-text">Créer et mettre à jour des articles et les diffuser sur cette plateforme de blog</p>
                </div>
                  <div class="tech_icons">
                    <img src="{{ url_for('static', filename='img/python.png')}}" alt="Python" title="Python"/>
                    <img src="{{ url_for('static', filename='img/flask.svg')}}" alt="flask" title="flask"/>
                    <img src="{{ url_for('static', filename='img/html5.png')}}" alt="HTML5" title="HTML5"/>
                    <img src="{{ url_for('static', filename='img/css3.png')}}" alt="CSS3" title="CSS3"/>
                  </div>
                  <div class="github_portf">
                    <p>voir le code source</p>
                    <a href="https://github.com/tbonnard/flask_auth_blog" target="_blank"><i class="fab fa-github"></i></a>
                  </div>
                </div>
            </div>


          </div>
        </div>
    </section>



<!-- contact -->
  <section id='contact'>
    <div class="container-fluid">

        <div class="row">

            <div class="col-lg-4 contact_text">
                <h2>Me contacter</h2>
                <p>Si vous souhaitez en connaitre d'avantage sur mon pacours, n'hésitez pas à me contacter par l'un des moyens suivants !</p>
                <a href="https://www.linkedin.com/in/thibaudbonnard/" target="_blank"><i class="fab fa-linkedin fa-2x icon_contact" title="LinkedIn"></i></a>
                <a href="https://github.com/tbonnard" target="_blank"><i class="fab fa-github fa-2x icon_contact" title="GitHub"></i></a>
                <!-- <a href="https://www.figma.com/file/5aKU6DKRQ8atbKM3d2EyMf/CV-Thibaud-Bonnard?node-id=0%3A1" target="_blank"><i class="far fa-file-pdf fa-2x icon_contact" title="CV"></i></a> -->
            </div>

            <div class="col-lg-8">
                <form method="POST" action="{{url_for('home')}}">
                    {{ form.csrf_token }}
                    {{ form.name }}
                    {{ form.email }}
                    {{ form.message }}
                    <div class="submit_button">
                    {{ form.submit }}
                    </div>
                </form>
            </div>
        </div>
    </div>
  </section>


  <!-- Footer -->

  <footer id="footer">
      <p class="footer_text">Fait par Thibaud</p>
  </footer>

{% endblock %}
