{% extends "base.html" %}

{% block title %}Thibaud Bonnard{% endblock %}

{% block content %}

    <section id='top'>

<!-- navigation -->

        <nav class="navbar navbar-expand-lg navbar-light">
          <!-- <a class="navbar-brand title_color" href="">T.B.</a> -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" href="#techno">Technologies</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#projets">Projets</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
              </li>
            </ul>
          </div>
        </nav>

<!-- row -->

      <div class="container-fluid ">
        <div class="row presentation">
            <div class="col-lg-6">
                <h1>Bonjour! Je suis Thibaud,</h1>
                <h3>développeur de logiciels web<br>et anciennement analyste d'affaires/fonctionnel web et CRM</h3>
                <div>
                  <img class='avatar' src="{{ url_for('static', filename='img/avatar.svg')}}" alt="Thibaud Bonnard">
                </div>
                <a href="#projets" type="button" class="btn btn-md redirect_button">Voir les projets</a>
                <a href="#contact" type="button" class="btn btn-light btn-md redirect_button_b">Me contacter</a>
            </div>
            <!-- <div class="col-lg-6">
            </div> -->
        </div>

        <div class="scroll_down">
          <a href="#about"><i class="fas fa-angle-down fa-2x"></i></a>
        </div>

      </div>
  </section>



<!-- about me -->


<section id='about'>
  <div class="container-fluid">
    <h2 class="section_heading">À propos de moi</h2>
    <p>Tout en travaillant sur des projets numériques en tant qu'analyste d'affaires et fonctionnel depuis plus de 10 ans,
      le développement a toujours éte une compétence que je voulais développer.
      <br>
      J’ai ainsi suivi des formations en Python, JavaScript et HTML/CSS et suis actuellement disponible à vous rejoindre!</p>
  </div>
</section>



</section>
<!-- toolkit -->
  <section id='techno'>
    <div class="container-fluid">
        <h2 class="section_heading">Technologies</h2>

    <div class="row presentation">

        <div class="col-md-4 col-6 tech_images">
          <img src="{{ url_for('static', filename='img/python.png')}}" alt="Python" title="Python"/>
          <p>Python</p>
        </div>
        <div class="col-md-4 col-6 tech_images">
          <img src="{{ url_for('static', filename='img/javascript.png')}}" alt="JavaScript" title="JavaScript"/>
          <p>JavaScript</p>
        </div>
        <div class="col-md-4 col-6 tech_images">
          <img src="{{ url_for('static', filename='img/git.png')}}" alt="Git" title="Git"/>
          <p>Git / GitHub</p>
        </div>
        <div class="col-md-4 col-6 tech_images">
          <img src="{{ url_for('static', filename='img/html5.png')}}" alt="HTML5" title="HTML5"/>
          <p>HTML5</p>
        </div>
        <div class="col-md-4 col-6 tech_images">
          <img src="{{ url_for('static', filename='img/css3.png')}}" alt="CSS3" title="CSS3"/>
          <p>CSS3</p>
        </div>
        <div class="col-md-4 col-6 tech_images">
          <img src="{{ url_for('static', filename='img/database.png')}}" alt="SQL" title="SQL"/>
          <p>SQL</p>
        </div>
    </div>

    </div>
  </section>




  <!-- projects -->
    <section id='projets'>
      <div class="container-fluid">

          <h2 class="section_heading">Quelques projets</h2>

        <div class="row">

          <div class="col-lg-4 col-md-6 project_item">
            <div class="card">
                <a href="https://amztrackerprice.herokuapp.com/" target="_blank">
                <img src="{{ url_for('static', filename='img/tracker.png')}}" class="card-img-top" alt="tracker"></a>
              <div class="card-body">
                  <a href="https://blog-thib.herokuapp.com" target="_blank">
                 <h3 class="card-title">Tracker de prix Amazon</h3></a>
                  <p class="card-text">Alerte de prix pour ses produits voulus</p>
              </div>
                <div class="tech_icons">
                  <img src="{{ url_for('static', filename='img/python.png')}}" alt="Python" title="Python"/>
                  <img src="{{ url_for('static', filename='img/flask.svg')}}" alt="Flask" title="Flask"/>
                  <img src="{{ url_for('static', filename='img/html5.png')}}" alt="HTML5" title="HTML5"/>
                  <img src="{{ url_for('static', filename='img/css3.png')}}" alt="CSS3" title="CSS3"/>
                </div>
                <div class="github_portf">
                  <a href="https://github.com/tbonnard/amazon_tracker_price" target="_blank"><i class="fab fa-github"></i></a>
                </div>
              </div>
          </div>

            <div class="col-lg-4 col-md-6 project_item">
              <div class="card">
                  <a href="https://blog-thib.herokuapp.com" target="_blank">
                  <img src="{{ url_for('static', filename='img/blog.png')}}" class="card-img-top" alt="blog"></a>
                <div class="card-body">
                    <a href="https://blog-thib.herokuapp.com" target="_blank">
                   <h3 class="card-title">Blog</h3></a>
                    <p class="card-text">Blog et sa gestion</p>
                </div>
                  <div class="tech_icons">
                    <img src="{{ url_for('static', filename='img/python.png')}}" alt="Python" title="Python"/>
                    <img src="{{ url_for('static', filename='img/flask.svg')}}" alt="flask" title="flask"/>
                    <img src="{{ url_for('static', filename='img/html5.png')}}" alt="HTML5" title="HTML5"/>
                    <img src="{{ url_for('static', filename='img/css3.png')}}" alt="CSS3" title="CSS3"/>
                  </div>
                  <div class="github_portf">
                    <a href="https://github.com/tbonnard/flask_auth_blog" target="_blank"><i class="fab fa-github"></i></a>
                  </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 project_item">
              <div class="card">
                  <a href="https://tbonnard.github.io/todo/" target="_blank">
                  <img src="{{ url_for('static', filename='img/todo.png')}}" class="card-img-top" alt="todo"></a>
                <div class="card-body">
                    <a href="https://finapps.pythonanywhere.com/" target="_blank">
                    <h3 class="card-title">To Do app</h3></a>
                    <p class="card-text">Suivi de ses to do par projets, en local</p>
                </div>
                  <div class="tech_icons">
                      <img src="{{ url_for('static', filename='img/javascript.png') }}" alt="JavaScript" title="JavaScript"/>
                      <img src="{{ url_for('static', filename='img/html5.png')}}" alt="HTML5" title="HTML5"/>
                      <img src="{{ url_for('static', filename='img/css3.png')}}" alt="CSS3" title="CSS3"/>
                  </div>
                  <div class="github_portf">
                    <a href="https://github.com/tbonnard/todo" target="_blank"><i class="fab fa-github"></i></a>
                  </div>
              </div>
            </div>


            <div class="col-lg-4 col-md-6 project_item">
              <div class="card">
                  <a href="https://github.com/tbonnard/password_manager" target="_blank">
                  <img src="{{ url_for('static', filename='img/pwd.png')}}" class="card-img-top" alt="password"></a>
                <div class="card-body">
                    <a href="https://tbonnard.github.io/Etch_a_sketch/" target="_blank">
                        <h3 class="card-title">Gestionnaire de mots de passe</h3></a>
                    <p class="card-text">Gestion et génération de mots de passe en local encryptés</p>
                </div>
                  <div class="tech_icons">
                    <img src="{{ url_for('static', filename='img/python.png') }}" alt="Python" title="Python"/>
                  </div>
                  <div class="github_portf">
                    <a href="https://github.com/tbonnard/password_manager" target="_blank"><i class="fab fa-github"></i></a>
                  </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 project_item">
              <div class="card">
                  <a href="https://finapps.pythonanywhere.com/" target="_blank">
                  <img src="{{ url_for('static', filename='img/finapps.png')}}" class="card-img-top" alt="finapps"></a>
                <div class="card-body">
                    <a href="https://finapps.pythonanywhere.com/" target="_blank">
                    <h3 class="card-title">FinApp</h3></a>
                    <p class="card-text">Achat/vente d'actions boursières et suivi de son portefeuille</p>
                </div>
                  <div class="tech_icons">
                      <img src="{{ url_for('static', filename='img/python.png') }}" alt="Python" title="Python"/>
                      <img src="{{ url_for('static', filename='img/django.svg')}}" alt="Django" title="Django"/>
                      <img src="{{ url_for('static', filename='img/javascript.png') }}" alt="JavaScript" title="JavaScript"/>
                      <img src="{{ url_for('static', filename='img/html5.png')}}" alt="HTML5" title="HTML5"/>
                      <img src="{{ url_for('static', filename='img/css3.png')}}" alt="CSS3" title="CSS3"/>
                  </div>
                  <div class="github_portf">
                    <a href="https://github.com/tbonnard/finance_app" target="_blank"><i class="fab fa-github"></i></a>
                  </div>
              </div>
            </div>


            <div class="col-lg-4 col-md-6 project_item">
              <div class="card">
                  <a href="https://tbonnard.github.io/Etch_a_sketch/" target="_blank">
                  <img src="{{ url_for('static', filename='img/etch.png')}}" class="card-img-top" alt="etch"></a>
                <div class="card-body">
                    <a href="https://tbonnard.github.io/Etch_a_sketch/" target="_blank">
                        <h3 class="card-title">Etch a Sketch!</h3></a>
                    <p class="card-text">Version web du jeu de l'écran magique</p>
                </div>
                  <div class="tech_icons">
                    <img src="{{ url_for('static', filename='img/javascript.png')}}" alt="JavaScript" title="JavaScript"/>
                    <img src="{{ url_for('static', filename='img/html5.png')}}" alt="HTML5" title="HTML5"/>
                    <img src="{{ url_for('static', filename='img/css3.png')}}" alt="CSS3" title="CSS3"/>
                  </div>
                  <div class="github_portf">
                    <a href="https://github.com/tbonnard/Etch_a_sketch" target="_blank"><i class="fab fa-github"></i></a>
                  </div>
              </div>
            </div>


            <div class="col-lg-4 col-md-6 project_item">
              <div class="card">
                  <a href="https://tbonnard.github.io/Calculator/" target="_blank">
                  <img src="{{ url_for('static', filename='img/calculator.png')}}" class="card-img-top" alt="calculator"></a>
                <div class="card-body">
                    <a href="https://tbonnard.github.io/Etch_a_sketch/" target="_blank">
                        <h3 class="card-title">Calculatrice</h3></a>
                    <p class="card-text">Calculatrice en ligne</p>
                </div>
                  <div class="tech_icons">
                    <img src="{{ url_for('static', filename='img/javascript.png')}}" alt="JavaScript" title="JavaScript"/>
                    <img src="{{ url_for('static', filename='img/html5.png')}}" alt="HTML5" title="HTML5"/>
                    <img src="{{ url_for('static', filename='img/css3.png')}}" alt="CSS3" title="CSS3"/>
                  </div>
                  <div class="github_portf">
                    <a href="https://github.com/tbonnard/Calculator" target="_blank"><i class="fab fa-github"></i></a>
                  </div>
              </div>
            </div>


            <div class="col-lg-4 col-md-6 project_item">
              <div class="card">
                  <a href="https://tbonnard.github.io/tic_tac_toe/" target="_blank">
                  <img src="{{ url_for('static', filename='img/tic.png')}}" class="card-img-top" alt="tic-tac-toe"></a>
                <div class="card-body">
                    <a href="https://tbonnard.github.io/tic_tac_toe/" target="_blank">
                    <h3 class="card-title">Tic Tac Toe</h3></a>
                    <p class="card-text">Jeu Tic Tac Toe pour 2 joueurs</p>
                </div>
                  <div class="tech_icons">
                      <img src="{{ url_for('static', filename='img/javascript.png') }}" alt="JavaScript" title="JavaScript"/>
                      <img src="{{ url_for('static', filename='img/html5.png')}}" alt="HTML5" title="HTML5"/>
                      <img src="{{ url_for('static', filename='img/css3.png')}}" alt="CSS3" title="CSS3"/>
                  </div>
                  <div class="github_portf">
                    <a href="https://github.com/tbonnard/tic_tac_toe" target="_blank"><i class="fab fa-github"></i></a>
                  </div>
              </div>
            </div>


          </div>
        </div>
    </section>



<!-- contact -->
  <section id='contact'>
    <div class="container-fluid">

        <div class="row">

            <div class="col-lg-4 contact_text">
                <h2>Me contacter</h2>
                <p>Si vous souhaitez en connaitre d'avantage sur mon pacours, n'hésitez pas à me contacter par l'un des moyens suivants!</p>
                <a href="https://www.linkedin.com/in/thibaudbonnard/" target="_blank"><i class="fab fa-linkedin fa-2x icon_contact"></i></a>
                <a href="https://github.com/tbonnard" target="_blank"><i class="fab fa-github fa-2x icon_contact"></i></a>
            </div>

            <div class="col-lg-8">
                <form method="POST" action="{{url_for('home')}}">
                    {{ form.csrf_token }}
                    {{ form.name }}
                    {{ form.email }}
                    {{ form.message }}
                    <div class="submit_button">
                    {{ form.submit }}
                    </div>
                </form>
            </div>
        </div>
    </div>
  </section>


  <!-- Footer -->

  <footer id="footer">
      <p class="footer_text">Fait par Thibaud</p>
  </footer>

{% endblock %}
